@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 230, 230, 230;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 155, 155, 155;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  scroll-behavior: smooth;
}

p{
  margin-bottom: 1.5rem;
}

h1, h3,
.year,
.contact{
  font-family: OTBrut, serif;
}

.project-card .image{
  flex: 1 0 50%;
}

.project-card .text{
  flex: 1 0 20rem;
}

footer{
  position: sticky;
  bottom: 0;
  transition: .5s ease;
  transform: translateY(100%);
}

.sticky-footer{
  transform: translateY(0);
}



@font-face {
  font-family: 'OTBrut';
  src:  url('../public/fonts/OTBrut-Regular.woff2') format('woff2'),
        url('../public/fonts/OTBrut-Regular.woff') format('woff');
}